.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.plugins/org.eclipse.core.resources/.projects/JOGL/.syncinfo
.metadata/.plugins/org.eclipse.core.resources/.projects/JOGL/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/PlatformMaze/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/PlatformMaze/.syncinfo
.metadata/.plugins/org.eclipse.core.resources/.projects/PlatformMaze/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.tigris.subversion.subclipse.tools.usage.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/JOGL2Nehe10World3D.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1142028708.index
.metadata/.plugins/org.eclipse.jdt.core/1196395312.index
.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
.metadata/.plugins/org.eclipse.jdt.core/1327615145.index
.metadata/.plugins/org.eclipse.jdt.core/1542969262.index
.metadata/.plugins/org.eclipse.jdt.core/1765565202.index
.metadata/.plugins/org.eclipse.jdt.core/1769317737.index
.metadata/.plugins/org.eclipse.jdt.core/2178737305.index
.metadata/.plugins/org.eclipse.jdt.core/2211732093.index
.metadata/.plugins/org.eclipse.jdt.core/2370885923.index
.metadata/.plugins/org.eclipse.jdt.core/2456149042.index
.metadata/.plugins/org.eclipse.jdt.core/2793427791.index
.metadata/.plugins/org.eclipse.jdt.core/2885545355.index
.metadata/.plugins/org.eclipse.jdt.core/2888453087.index
.metadata/.plugins/org.eclipse.jdt.core/31031388.index
.metadata/.plugins/org.eclipse.jdt.core/3197662941.index
.metadata/.plugins/org.eclipse.jdt.core/3251038749.index
.metadata/.plugins/org.eclipse.jdt.core/3270581164.index
.metadata/.plugins/org.eclipse.jdt.core/3348459436.index
.metadata/.plugins/org.eclipse.jdt.core/3398363413.index
.metadata/.plugins/org.eclipse.jdt.core/3794497040.index
.metadata/.plugins/org.eclipse.jdt.core/3941913724.index
.metadata/.plugins/org.eclipse.jdt.core/411166081.index
.metadata/.plugins/org.eclipse.jdt.core/4259282187.index
.metadata/.plugins/org.eclipse.jdt.core/4276456779.index
.metadata/.plugins/org.eclipse.jdt.core/505933328.index
.metadata/.plugins/org.eclipse.jdt.core/900290380.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.tigris.subversion.subclipse.ui/dialog_settings.xml
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_1
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/_remote.repositories
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/index-0.0.0-20140605.014212-1.zip
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/maven-metadata-models.xml
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/resolver-status.properties
MicroSim/bin/flaxapps/GraphPanel.class
MicroSim/bin/flaxapps/MicroSimulation$1$1.class
MicroSim/bin/flaxapps/MicroSimulation$1.class
MicroSim/bin/flaxapps/MicroSimulation$AABB.class
MicroSim/bin/flaxapps/MicroSimulation$im.class
MicroSim/bin/flaxapps/MicroSimulation$Sector.class
MicroSim/bin/flaxapps/MicroSimulation$Triangle.class
MicroSim/bin/flaxapps/MicroSimulation.class
MicroSim/bin/flaxapps/WaterData.class
MicroSim/bin/flaxapps/YeastData.class
/bin/
.gradle/2.4/taskArtifacts/cache.properties
.gradle/2.4/taskArtifacts/cache.properties.lock
.gradle/2.4/taskArtifacts/fileHashes.bin
.gradle/2.4/taskArtifacts/fileSnapshots.bin
.gradle/2.4/taskArtifacts/outputFileStates.bin
.gradle/2.4/taskArtifacts/taskArtifacts.bin
build/classes/main/flaxapps/micro/GraphPanel.class
build/classes/main/flaxapps/micro/MicroSimulation$1$1.class
build/classes/main/flaxapps/micro/MicroSimulation$1.class
build/classes/main/flaxapps/micro/MicroSimulation$AABB.class
build/classes/main/flaxapps/micro/MicroSimulation$im.class
build/classes/main/flaxapps/micro/MicroSimulation$Sector.class
build/classes/main/flaxapps/micro/MicroSimulation$Triangle.class
build/classes/main/flaxapps/micro/MicroSimulation.class
build/classes/main/flaxapps/micro/WaterData.class
build/classes/main/flaxapps/micro/YeastData.class
build/resources/main/chip_texture.png
build/resources/main/CustomChipTextured.obj
build/resources/main/finaltop.obj
build/resources/main/particle.frag
build/resources/main/particle.vert
build/resources/main/Plastic.jpeg
build/resources/main/S+T_Textured.obj
build/resources/main/SaltWaterTexture.png
build/resources/main/spider.frag
build/resources/main/spider.vert
build/resources/main/tower_textured_final.obj
build/resources/main/WaterTexture.jpg
build/resources/main/WaterTextured.obj
build/resources/main/WaterTextured2.obj
build/resources/main/WaterTexturedSheet.obj
build/resources/main/Wood.jpg
build/resources/main/YeastTexture.png
build/resources/main/YeastTextured2.obj
gradle/wrapper/gradle-wrapper.properties
